<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fakk-tura{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body { overflow: hidden; background-color: #f8fafc; }
        .custom-scrollbar::-webkit-scrollbar { width: 4px; }
        .custom-scrollbar::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 10px; }
    </style>
    {% block head %}{% endblock %}
</head>
<body class="antialiased text-slate-900">
    {% block content %}{% endblock %}
</body>
</html>